* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
p {
  font-family: arial;
}
nav {
  display: grid;
  grid-template-columns: 300px auto 300px;
  padding: 20px;
}
.brand_logo {
  border-bottom: 2px solid #ddd;
  width: 700px;
  margin: 0px auto;
}
.brand_logo h1 {
  font-family: rabbit;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: normal;
  text-align: center;
}
.brand_logo span {
  color: orange;
}
.social_icons {
  margin: 0 auto;
}
.social_icons img {
  margin: 3px;
  opacity: 50%;
  transition: 0.3s;
}
.social_icons img:hover {
  opacity: 100%;
}
.subscribe_btn a {
  padding: 5px;
  text-align: center;
  border: 2px solid orange;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
  width: 140px;
  margin: 0 auto;
}
.subscribe_btn a:hover {
  background-color: orange;
  border: 2px solid #333;
  transition: all 0.3s ease-in-out;
}
.nav_bar {
  position: relative;
  text-align: center;
  grid-column: 1/4;
  margin: auto;
}
.nav_bar a {
  display: block;
  float: left;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
}
.nav_bar a:active {
  color: orange;
}
.line {
  position: absolute;
  width: 150px;
  border-bottom: 2px solid orange;
  top: 35px;
  transition: transform 0.3s ease-in-out;
}
.nav_bar a:hover {
  color: orange;
  transition: color 0.3s ease-in-out;
}
.nav_bar a:nth-child(2):hover ~ .line {
  transform: translateX(150px);
  transition: transform 0.3s ease-in-out;
}
.nav_bar a:nth-child(3):hover ~ .line {
  transform: translateX(300px);
  transition: transform 0.3s ease-in-out;
}

/*cover*/
.cover {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 300px 300px;
  grid-gap: 5px;
  width: 100%;
  margin: 0 auto;
}
.feature {
  position: relative;
}
.feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title_filter {
  position: absolute;
  bottom: 0;
  background: #333;
  opacity: 50%;
  width: 100%;
  height: 22%;
}
.feature_title {
  position: absolute;
  letter-spacing: 2px;
  bottom: 0px;
  margin: 5px 10px;
  color: #fff;
}
.date {
  position: relative;
  width: 60px;
  text-align: center;
  font-size: 20px;
  background: orange;
  padding: 10px 0;
}
.date h3 {
  line-height: 25px;
}
.date span {
  color: #222;
  display: block;
}
.feature_title h1 {
  font-size: 28px;
}
.feature_title p {
  font-size: 10px;
  margin: 5px 0;
}
.feature_title a {
  color: orange;
}
.feature_title p span {
  margin: 0 15px;
  border-left: 1px solid #fff;
}
.cover .feature:nth-child(1) {
  grid-row: 1/3;
}
.cover .feature:nth-child(4) {
  grid-row: 1/3;
  grid-column: 3/4;
}
.cover .feature:nth-child(3) h1,
.cover .feature:nth-child(2) h1 {
  font-size: 15px;
}
.cover .feature:nth-child(3) p,
.cover .feature:nth-child(2) p {
  font-size: 8px;
}

.cover .feature:nth-child(3) .date,
.cover .feature:nth-child(2) .date {
  font-size: 16px;
  width: 50px;
  padding: 2px 0px;
  margin-bottom: 5px;
}
.cover .feature:nth-child(4) .title_filter {
  height: 25%;
}
.cover .feature:nth-child(4) .h1 {
  font-size: 20px;
}






/*Featured section*/
.featured {
  display: grid;
  grid-template-columns:4fr 4fr 4fr;
  grid-gap: 20px 20px;
  width: 90%;
  margin: 100px auto;
  padding: 20px 0px;
}









/*Sidbar style*/
.sidebar{
  grid-row: 1/4;
}
.sidebar div > h2{
  margin:20px 0;
  font-size:30px;
  letter-spacing: 2px;
}
.about img{
  width:100%;
  margin-bottom:20px;
}
.about p{
  line-height: 25px;
  text-align: justify;
}
.uppercase{
  text-transform: uppercase;
  font-weight: bold;
  color:#333;
}
.featured_posts{
  font-family: serif;
}

.post{
  display: flex;
}
.calendar{
  width:50px;
  height:60px;
  margin: 10px;
  background-color: #333;
  padding:10px;
  
}
.calendar p{
  font-size: 15px;
  text-align: center;
  color:orange;
}
.dish h6{
  color:orange;
  margin:10px 0;
  font-size: 16px;
}
.dish h1{
  letter-spacing: 3px;
  font-size: 24px;
}
.dish p{
  
  font-size: 12px;
}
.recipe_type div{
  font-weight: bold;
  display: block;
  padding:15px;
  border-bottom: 2px solid #ddd;
  width:300px;
  color:#333;
}
.sub_type a{
  margin-left: 20px;
  color:#555;
  font-size: 14px;
}
.poster{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.poster p{
   width:70%;
   line-height: 25px;
   margin-bottom: 20px;
   color:#333;

}
.poster input{
  width:70%;
  padding:10px;
  border:2px solid orange;
}
input:focus{
  border:2px solid #333;
  outline:none;
}
.poster button{
  background-color: orange;
  border:none;
  padding:10px;
  width:120px;
  font-size: 14px;
  margin-top: 20px;
}




/*Featured Post*/
.featured_post{
  grid-column:2/4;
  grid-row:1/2;
  text-align: center;
  line-height: 25px;
  position: relative;

}
.featured_post h1{
  margin:20px 0;
  letter-spacing: 3px;
}

.featured_post .date{
  position: absolute;
  left: 20px;
  top:20px;
  background-color:orange;
  width:80px;
}


.featured_post .date p{
  font-size: 30px;
  font-weight: bold;
  color:#fff;
  text-align: center;
}

.featured_post img{
  width:100%;
  
  object-fit: cover;
  margin-bottom: 20px;
}
.featured_post h6{
  font-size: 20px;
  margin:10px 0;
}
.featured_post a{
  display: block;
  border:2px solid orange;
  padding:5px 10px;
  width:120px;
  font-weight: bold;
  margin:20px auto;
}



/*selected post*/

.selected_posts img{
  width:100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.description{
  text-align: center;
}
.description p{
  margin:10px 0 30px;
  color:#333;
  font-size: 12px;
  line-height: 25px;
}

.description h1{
  font-size: 20px;
  margin: 10px 0;
  letter-spacing: 3px;
}




.load_more{
  grid-column:2/4;
  text-align: center;
}

.load_more a{
  display: block;
  border:2px solid orange;
  padding:5px 10px;
  width:120px;
  font-weight: bold;
  margin:20px auto;
}
.tag p{
  color:orange;
  font-weight: bold;
}

/*categories*/
.categories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap:30px;
  justify-content: center;
  margin-bottom: 30px;
  width:90%;
  margin:auto;
}

.card_category{
  position: relative;
  box-sizing: border-box;
}
.card_category img{
  width:200px;
  position:absolute;
  box-shadow: 2px 2px -2px #333;
  height:200px;
  object-fit: cover;
  border-radius: 50%;
  left:50px;
  top:50px;

}
.desc_category{
  padding:50px 30px 10px;
  height:auto;
  margin-top:210px;
  text-align: center;
  border:2px solid orange;
  box-shadow:2px 2px 5px -3px #333;
  box-sizing: border-box;

}
.desc_category h2{
  margin:10px 0px;
  color:#333;
}
.desc_category p{
  background: orange;
  padding:15px;
  margin-top:20px;
  color:#333;
  font-size:16px;
  line-height:25px;
}
.desc_category a .recipe_btn{
  color:#555;
  font-weight: bold;
  border-left:2px solid orange;
  padding-left:10px;
}
.desc_category a .recipe_btn:hover{
  color:orange;
  transition: color 0.3s ease-in-out;
}

.desc_category a.button{
  display:block;
  margin: 20px auto;
  padding:10px;
  width:120px;
  background-color: orange;
  font-weight: bold;
  color:#fff;
  box-sizing:border-box;
}
/*newsletter &footer*/
.newsletter{
  background-image: url(images/ab1.jpg);
  background-size: cover;
  background-position: center center;
  height:300px;
  width:100%;
  position:relative;
  margin-top: 100px;
}
.newsletter_filter{
  position: absolute;
  width:100%;
  height:100%;
  background-color: #33333370;
}
.action_call {
  position:absolute;
  text-align: center;
  padding-top:70px;
  box-sizing: border-box;
  letter-spacing: 2px;
  color:#fff;
  width:100%;
}
.action_call h2{
  margin:20px 0px;
}
.action_call input{
  width:300px;
  padding:10px;
  border:2px solid #fff;
  border-radius: 5px;
  background: transparent;
  color:#fff;
}
.action_call button{
  width:120px;
  padding:10px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color:#fff;
  cursor: pointer;
}
.footer{
  height:100px;
  text-align: center;
  line-height: 100px;
  background-color: orange;
  color:#333;
  font-weight: bold;
  letter-spacing: 2px;
}

/*responsive*/
@media only screen and (max-width: 800px) {
  nav{
    display: flex;
    flex-direction:column;
    align-items:center;
  }
  .subscribe_btn{
    display: none;
  }
  .brand_logo{
    width:100%;
  }
  .nav_bar{
    width:100%;
  }
  .nav_bar a{
    display: block;
    float:none;
    text-align: center;
    width:100%;
  }
  .nav_bar .line{
    display: none;
  }
  .cover{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .feature{
    width:100%;
  }
  .featured img{
    height:400px;
  }
  .featured{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
  }
  
  .featured_posts{
    display:none;
  }
  .subscribe{
    display:none;
  }
  .recipe_type{
    display: none;
  }
  .categories{
    display: flex;
    flex-direction: column;
  }
  .card_category{
    margin:30px;

  }
  .card_category img{
    left:50%;
    transform: translateX(-50%);
  }
  

}

